.class1 {
  background-color: rgb(0,0,0);
}

.borders1 {
  background-color: rgba(200, 100, 255, 50);
  border-style: solid;
  border-radius: 0.5vw;
  border-color: rgba(200, 100, 255, 100);
  border-width: 0.5vw;
}
